<a href="https://colab.research.google.com/github/itslokeshrawat/Bitcoin-Price-Prediction/blob/main/Bitcoin_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import the libraries
import numpy as np 
import pandas as pd

In [ ]:
#Load the dataset
from google.colab import files 
uploaded = files.upload()

Saving BTC-USD.csv to BTC-USD (5).csv

In [ ]:
#Store the data into the variable df
df = pd.read_csv('BTC-USD.csv')
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [ ]:
#Remove the useless columns
df.drop(['Date','High','Low','Close','Adj Close','Volume'], 1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [ ]:
#Show the first 8 rows of the new data set
df.head(8)

         Open
0  465.864014
1  456.859985
2  424.102997
3  394.673004
4  408.084991
5  399.100006
6  402.092010
7  435.751007

In [ ]:
#A variable for predicting 30 days out into the future
prediction_days = 30

#Create another column shifted 'n' units up
df['Prediction'] = df[['Open']].shift(-prediction_days)

In [ ]:
#Show the first 8 rows of the new data set
df.head(8)

         Open  Prediction
0  465.864014  382.756012
1  456.859985  383.976013
2  424.102997  391.253998
3  394.673004  389.230988
4  408.084991  382.420990
5  399.100006  386.118011
6  402.092010  382.962006
7  435.751007  358.591003

In [ ]:
#Show the last 8 rows of the new data set
df.tail(8)

              Open  Prediction
2739  40944.839844         NaN
2740  41794.648438         NaN
2741  42191.406250         NaN
2742  41246.132813         NaN
2743  41074.105469         NaN
2744  42364.378906         NaN
2745  42886.652344         NaN
2746  43958.675781         NaN

In [ ]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[  465.864014]
 [  456.859985]
 [  424.102997]
 ...
 [38423.210938]
 [37068.769531]
 [38285.28125 ]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [ ]:
#CREATE THE DEPENDENT DATA SET (y) 

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])  

# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[  382.756012   383.976013   391.253998 ... 42364.378906 42886.652344
 43958.675781]

In [ ]:
# Split the data into 80% training and 20% testing

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[37278.566406]
 [38333.746094]
 [39213.082031]
 [39098.699219]
 [37706.      ]
 [43194.503906]
 [44357.617188]
 [43925.195313]
 [42458.140625]
 [39148.449219]
 [39404.199219]
 [38429.304688]
 [38059.902344]
 [38742.816406]
 [41974.070313]
 [39439.96875 ]
 [38794.464844]
 [38884.726563]
 [37846.316406]
 [39664.25    ]
 [39335.570313]
 [41140.84375 ]
 [40944.839844]
 [41794.648438]
 [42191.40625 ]
 [41246.132813]
 [41074.105469]
 [42364.378906]
 [42886.652344]
 [43958.675781]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [ ]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine 
#Create the model
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
#Train the model
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=1e-05)

In [ ]:
# Testing Model accuracy on testing data
svr_rbf_score = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_score)

svr_rbf accuracy:  0.732590135803735

In [ ]:
# Print the predicted value for test dataset
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)
print()

[ 6908.50416149  8636.24228203  4719.90181293  9389.27007748
   200.06348217  9680.54836139  1572.36842581  9674.98002984
 31347.96728961   273.33323753   763.14695235   261.81190272
  4365.71870409  8188.40517573   192.82349603 27919.38670741
  6834.47063275  7461.8897281    259.34634819  6014.64360108
 28276.6658885    364.19234491 29831.55460334 30734.78006755
 22766.75509376  3962.60856466   368.58262676   390.23361549
 30972.85103523 10215.89495727 23833.73530365   475.42097402
   508.9686518    195.27807509   462.75876994 11792.4061151
   348.28162106  6081.64864759 23995.87038917   513.78870779
  9251.55844506  9890.89270482 11380.75539401 11354.67814696
   295.04849143 18784.71498522  1107.5693612   9305.04301649
   306.78584625 23950.24032773  6499.71302827   871.67873714
   193.70849821  7664.0184223    199.75161383   332.76679166
   247.27652333  9078.88201151  8462.10812011   240.72692505
   276.83743476   198.28975729 31950.74614615  9256.30749264
  3945.74616408 34175.55457332   280.69665201  8585.57033576
  6187.37697854 31358.04808545  7660.51853031 19212.5679779
  9056.79068216  3949.22998187  5493.04481102  7480.77359515
   302.45151625   325.772564    4230.40188259   503.80540858
  9276.41862196   623.03882122   283.81634959 10696.53484756
   193.48044725   268.82982855  1702.56238828   562.29744976
  6295.16044257 11772.4441511   6143.99016836  7120.2029231
 10798.89711105  9125.95109433   238.70707007   336.85268944
 11329.87895771  6497.70723979  5243.73396079 18781.67189275
   870.97846861  9754.70393001  8913.81187185   817.10170782
  8104.55920069  6171.36996338  9797.93023875  1418.54400162
 10749.32246008  9169.18236653 26744.28673734  9383.0091776
  9645.27132666  1128.0795907    655.732271    7647.44686923
   274.18818822  7805.39456301  1287.69640845 19061.02633204
   372.6002384  11467.95896787 23557.50143272 33993.78754345
  7356.24602077   326.01398917  9789.1624902   1816.78838416
  8586.64434383  5594.91040809   333.76675976 28129.92225426
   448.76019106  8773.13965794   600.75822549 28854.81800566
   363.75625002   193.88586372   505.82122214  8196.86260555
   725.9927318   8075.97137001  4194.71190731   628.99533804
  9234.63731885 27977.47574611  6151.68414829 29865.49305465
   666.90360944  7648.49431014 10687.64846479  6369.23426113
   874.32483633  9603.11834765  3204.82149977   442.87148098
  1742.20157408 11556.72332306  2101.86847045 28457.72939238
  8259.80654683   443.37671448  1078.93873663   260.88873723
   307.53276052   457.26446536  7991.54119504 26874.72123485
 33590.22798103   446.63499174   593.7876338  10136.32308062
  5293.00215511  9501.18723407   630.76806311  6174.46558127
  7998.31778829   445.17291889   279.87627863  9319.17932253
  6845.9362078  11464.60406203 27069.78404077   341.42113343
   338.33070202   843.43056751   982.01442767   460.52212776
   627.50660857  9428.80973082  4002.68624854   314.87851806
   200.25866161   664.1829074   1246.72956079   625.97476123
 28355.00077066  7573.88246918  9744.15068464  9063.783382
   432.9421635   9319.5719711    241.08679587  8264.5227597
  8304.10345427 11422.01181288 23816.7449466   8922.54143624
 10724.37757654   740.34122822  3948.03396463  9334.61252397
   699.61031557  2355.02308814  9573.00266034 34585.45392573
   375.87573333  7483.2942378   6084.80206859  1618.11654507
   330.67408006 31513.90820318  9366.98302183  9349.15111041
 10848.02655866  1538.98256117   892.39501783 18264.47720708
  8016.17158461 11118.06033633   762.44657456 29374.0102216
   435.9099628    258.40061346  5910.67325873   497.38220123
 10326.97368853  8575.98563219  9782.22247211 26449.84816167
  6165.32108534  6318.61845187 22200.60629558   247.3832396
 10770.76386831 11411.13632679   260.67176757  3207.68401838
 19371.15163034   674.79836869  9330.05313874   692.72628762
 23517.6299011   3210.23677758   703.66104437  9042.91395738
  5973.34829569   195.62181711  5580.69739543   456.56529061
   671.73452383  9744.14387741   597.55346549  9209.09785694
   625.30807613 24887.90183473 27374.54989029   444.21462579
   278.48183291  9315.18096576   206.19626861   210.62063841
   594.45302804 30168.85656336  8077.47059223  6261.39602856
 10001.24872461   488.58959667   391.38744236   313.07654901
 23461.71018015  7622.96153038  6210.57391284   296.81263099
 23287.25562969   843.19650831  9236.64433922  9398.25452283
  3327.06426676   891.41266215   491.07549428  9228.19344664
  5090.68220361  9610.67975261 27940.51691686  9835.07427087
  3965.47151552  9135.53540366 24121.82382858 27694.84747689
   195.14054195  9231.77735709   450.21240515  9753.84556336
   393.70417414 23723.12166674 31971.06918033   472.83758649
  4345.45949729  5480.04194734   495.34096043  9358.79082855
 29012.74623444 31084.26969074 18657.65149157 18642.22627109
 33526.04363255   363.01647704   335.5751363    470.47129688
  1194.96317134   625.08331275 11828.216413   11593.70736722
  1225.08158297   192.64653231  8107.71324564   955.63959496
   351.47969986  6792.77246811  8989.41225122  9080.99661084
 18593.19699832  8383.22428395 26601.57123793   967.22105473
   192.72221093   566.9277955    236.96654667 26934.68604358
  4250.55634062   686.79264616   470.76056826   210.50823651
   248.34412563  1184.96646708  1084.77298988 18233.71710308
   652.03676529  9429.22511031 10758.73845555 29644.14287096
 11418.19585608   269.6340631   9361.61026399   568.54826172
  3565.25418383  7408.18838474 11286.77338863 32527.72388598
   248.99451452   461.61064567 26115.20413678  9050.72670169
  4442.74308461  9256.62925939   629.65647386  3946.52224888
 28381.27496005 28262.32970206 10253.97657243  5059.27589118
 26391.96318894  9191.36035094   193.63758158  3713.9699636
 31941.54178779 26881.96497764  8059.57688965  6241.01535589
   631.66857501 18567.23126187  5160.0490114  24700.53909617
   266.12671959  3330.15194173  9236.59624204  6291.86838156
  1301.3745782  18405.45627554   198.4105999   9237.92394271
   263.5344345  22746.33194699  8450.93920614  1617.79625602
 28064.33175177  3331.94971135   425.40079027  1276.03517616
  9002.21411915  9261.54910448 11068.59240599   400.40309407
 10833.63696371   466.76603748  9134.77894786  6314.60407477
 24799.97392331  5442.03342948   362.0317071    233.39169707
  6328.28014761  7402.88520889   238.19807942   396.11884547
  4224.70340163 10385.08400067  4433.35005831  6179.23464483
 10897.15086728   629.9192046  26706.74978333   635.71513448
   366.82303265  1253.15606077  4938.7013598   4222.29140075
 29264.54705705   647.88730174 30589.4659709  32315.34391011
  4947.74289684   199.19877466 25392.34038205 11422.95280047
  9167.43139456   420.59215007   751.97155126 10902.96864068
 19084.86086008  9307.28248262   203.78748838  8061.78910154
 27985.8996328   9175.13714208   332.89629415 11208.0239409
   380.62871858  3020.33488524 10251.0792473  11329.31585767
   279.63617574   279.92524399 10844.27414162  5138.5227143
   614.2197514    471.45295827   364.4882327   6746.61757592
 18329.30559454   669.74814038  9778.19942625 27015.07727393
  9022.15471163   231.39213369  6107.25590956  6849.1757145
 11754.89508625   373.35891122   197.50450735  9009.60486398
  7987.24243684 26416.99922615  9279.75181985  3951.46067338
 26126.74641341 26450.99164307   503.80207337 23974.68310279
   229.18122839 27554.43148401 11826.20162248  9744.45251651
   432.08933508   219.15165139  4081.20588152   609.04179215
   202.95988713  9332.79259533   194.94380296  7373.70793231
  9246.89087618  9131.38124598  9276.02620235  9311.62652927
   279.67617857 11785.57703597   591.73453121  3954.95163183
 23835.76852915   294.53444992  7556.16111441 30199.7269684
 10921.55182489   272.10731531   488.42809416  9729.72671098
  7852.64709442 30148.18720036   421.07525737 10688.61636226
 27516.33246047   350.08896768  4019.52067105  9147.65647144
  9227.40972002   437.98016658 22696.17775575  1224.48765872
  3962.33838553 33795.2143132    376.15378682   199.27785204
  8293.24099526 11330.83627015 24313.02270744  7656.61337589
  9158.16092589   263.49894262  9399.54788094  4222.65005325
   638.17314122  6574.25764082 28146.02006757 10778.72393413
   365.73668189  7440.57543192  3207.0564406  10385.48319123
 28196.15476843   355.03960106   307.48770687  5209.9192893 ]

In [ ]:
#Print the actual values
print(y_test)

[ 8725.209961  8036.774902  5204.105469  8865.387695   224.701004
  9698.50293   1046.079956  6630.509766 29796.285156   272.739014
   773.393982   243.968994  4168.879883  7173.72998    230.199005
 61850.488281  2469.570068  7949.674805   244.281998  3631.509766
 57714.664063   274.610992 33416.976563 33549.601563 58115.082031
  3631.170166   413.894012   276.433014 60701.886719  7551.338867
 56099.914063   416.834015   582.203003   284.846985   234.824997
  8619.669922   350.833008  3606.280029 48900.464844   430.255005
  9048.460938  8047.8125   13075.242188 10369.02832    235.994995
 19191.529297  1163.780029 11679.696289   226.968994 56068.566406
  4326.990234   661.992981   228.574997 11923.400391   278.740997
   237.091995   276.005005  9380.870117  4395.810059   211.378006
   313.942993   219.207993 39098.699219  9124.842773  5603.819824
 62941.804688   376.756989 19106.400391  3512.590332 35854.527344
  6305.560059 19418.818359  9617.821289  6036.660156  3629.919922
  7289.03125    269.306      232.858002  4605.160156   704.504028
  8825.34375    657.677979   283.627991 10167.216797   235.949997
   361.872986  1780.369995   658.10199   3421.9104   11407.191406
  3928.409912  8221.580078 10552.599609 10588.683594   454.855011
   271.108002 14133.733398  6398.850098  5271.746582 18729.839844
   903.487     5201.066895  6495.290039   972.534973  9007.441406
  3421.458252 11059.142578  1556.810059 15270.700195  9870.078125
 13836.099609  7486.47998   7450.561523  1209.630005   651.627014
  6214.220215   433.272003  6622.450195  1348.300049 18320.884766
   237.065002 10960.735352 22794.039063 64978.890625  6478.890137
   353.174988 11101.900391  1845.76001   7878.307617  4829.580078
   430.721008 49201.519531   392.002014  6550.870117   607.245972
 33854.421875   421.835999   326.975006   685.684998  8210.985352
   577.760986  8661.760742  3454.950928   575.546021 11972.71875
 46415.898438  4000.331787 39335.570313   740.705017  7417.799805
 10933.75293   6739.649902   908.11499  11366.894531  2724.389893
   441.415985  1818.699951 11485.608398  1170.329956 44439.691406
  7991.885254   435.324005  1054.76001    369.441986   263.345001
   413.417999  8680.650391 38213.332031 43946.742188   448.238007
   658.804016  8320.832031  3584.500244  7500.899902   678.213989
  6357.009766  9352.719727   457.537994   241.397995  9158.005859
  2499.580078 10761.109375 36833.875      407.567993   236.214005
   792.247009   895.549011   459.639008   690.289001  9951.44043
  3855.318115   284.880005   230.608994   716.752014  1011.460022
   630.825012 35684.15625   9357.470703 14695.799805  6905.819824
   420.546997 11532.400391   388.046997  6295.450195  6640.454102
 13031.201172 32810.949219  9426.110352  7571.616211   771.638
  4029.968506 19475.800781   567.242981  2320.889893 10136.30957
 48137.46875    417.988007  7570.13916   2512.399902   974.015015
   235.076004 46057.214844  7592.299805  8573.980469 11043.768555
  1031.329956   775.177979 18263.929688  8055.206055  7102.259766
   768.075989 42944.976563   427.610992   212.906998  3932.491699
   537.682007  7406.149902  9052.959961 10281.513672 58930.277344
  7121.306152  6536.680176 26439.373047   436.720001  9300.915039
 10176.819336   339.458008  2323.080078 19154.179688   655.111023
  9121.600586   751.741028 34295.933594  2679.72998    588.797974
 19118.300781  3822.384766   238.328995  4189.310059   444.72699
   711.166992  9597.539063   605.018982  7397.134277   657.161011
 28841.574219 63254.335938   422.907013   431.660004  8104.226563
   239.845993   230.25       608.841003 46280.847656  6971.178223
  6292.640137  5385.229492   382.43399    416.571991   332.016998
 32358.613281  6486.049805  4347.689941   230.233002 40788.640625
   864.888    10211.550781  9253.020508  2757.5        825.142029
   473.028992  8321.910156  3401.376465  8563.264648 47680.925781
  7371.310059  3836.519043 10796.930664 40254.21875  36950.515625
   264.131989  9145.985352   459.121002  7323.975586   438.255005
 55338.625    38138.386719   448.182007  5643.529785  3725.446045
   534.190979  8140.933105 34290.292969 43791.925781 11755.5
 19144.492188 64455.371094   414.44101    365.856995   374.645996
   970.940979   654.002014  9491.626953 11713.306641  1321.869995
   230.255997  9350.589844   991.734985   435.131012  9645.669922
  8162.190918  7999.330078  9142.280273  9591.168945 50009.324219
   998.88501    229.324005   640.591003   247.352005 57217.371094
  3467.21167    587.356995   392.932007   284.686005   275.657013
  1221.780029  1064.699951 18801.744141   619.171997  8111.146484
 10459.624023 33533.199219 10621.180664   243.740005 12284.326172
   676.734009  2233.52002   6452.790039 16276.44043  54952.820313
   260.955994   445.037994 49077.792969  6674.080078  4922.806152
  9140.029297   640.870972  3807.002441 43153.570313 53568.664063
 10669.371094  3866.839111 38285.28125   6742.390137   265.477997
  3341.840088 39404.199219 45206.628906  9344.683594  6371.850098
   637.007996 18178.322266  5066.577637 36050.113281   443.877991
  2897.629883  8599.758789  6440.970215  1050.050049 18553.298828
   222.076004 11315.400391   243.074997 11429.799805  5505.552246
  1596.920044 59098.878906  3257.610107   361.261993  1116.319946
  6799.290039 11663.689453  9757.473633   387.785004  9330.926758
   453.69101   8812.481445  6590.680176 56620.273438  4789.25
   311.178986   294.484009  6777.77002   6411.680176   207.834
   373.895996  3674.015381  9800.21582   2492.600098  5620.779785
 10280.998047   639.083008 39316.890625   703.525024   296.127014
  1037.23999   3901.469971  4078.584961 37389.515625   616.822021
 33723.507813 37920.28125   4022.713379   322.09201  37068.769531
 11385.052734  9889.179688   236.410004   663.781006  7500.700195
 17462.099609  8522.330078   319.734985  6596.660156 46853.867188
 10143.798828   233.520996  8937.480469   421.605011  2255.360107
  9680.234375  9604.050781   328.511993   233.134995  9905.217773
  4384.450195   622.927002   378.292999   286.076996  2655.350098
 11421.700195   701.997009 10550.44043  57565.851563  8811.936523
   279.330994  3796.149902  6341.359863  9796.419922   433.437988
   243.694     9259.783203  3544.761475 57441.308594  7469.72998
  3671.369873 39439.96875  11198.799805   402.316986 24677.015625
   377.414001 38886.828125 10207.5       9936.560547   243.779999
   240.356003  3373.820068   597.278992   236.436005 12139.713867
   229.895004  6879.78418   9290.959961  6593.240234  8255.730469
 11007.202148   247.472    10619.821289   610.588013  3633.359375
 39381.765625   361.894989  7194.89209  58926.5625    6788.049805
   376.152008   763.927002 10183.648438  8241.709961 58253.777344
   417.889008 17803.861328 61609.527344   236.886993  3854.688477
  8812.489258  9151.183594   428.703003 50450.082031   976.72998
  3759.83252  57850.441406   432.571014   226.050003  6340.910156
 13546.532227 56896.128906 11685.700195 10803.900391   246.875
  9233.969727  4089.01001    617.341003  6354.240234 48208.90625
  9078.308594   312.718994  9695.5       2561.        7979.069824
 60694.628906   234.362      274.608002  2590.570068]

In [ ]:
# Print the model predictions for the next '30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[31878.45507756 31413.10606542 30023.57580856 29779.746815
 27775.82367198 30562.97820284 26162.81464088 27376.4863457
 31187.87541284 29964.45813455 28688.48001926 30968.32354819
 29624.82217986 28648.46140786 28886.04169024 28258.57215154
 28565.09161309 28696.2524986  27598.58013774 26391.91349353
 29405.71839217 25892.90104236 26356.37487671 29395.63770548
 30132.47130554 26562.63899245 25823.62432316 31077.68204828
 31675.50260104 27143.6093165 ]

In [ ]:
#Print the actual price for the next '30' days
df.tail(prediction_days)

              Open  Prediction
2717  37278.566406         NaN
2718  38333.746094         NaN
2719  39213.082031         NaN
2720  39098.699219         NaN
2721  37706.000000         NaN
2722  43194.503906         NaN
2723  44357.617188         NaN
2724  43925.195313         NaN
2725  42458.140625         NaN
2726  39148.449219         NaN
2727  39404.199219         NaN
2728  38429.304688         NaN
2729  38059.902344         NaN
2730  38742.816406         NaN
2731  41974.070313         NaN
2732  39439.968750         NaN
2733  38794.464844         NaN
2734  38884.726563         NaN
2735  37846.316406         NaN
2736  39664.250000         NaN
2737  39335.570313         NaN
2738  41140.843750         NaN
2739  40944.839844         NaN
2740  41794.648438         NaN
2741  42191.406250         NaN
2742  41246.132813         NaN
2743  41074.105469         NaN
2744  42364.378906         NaN
2745  42886.652344         NaN
2746  43958.675781         NaN